* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
/* Root Variables =========> */
:root {
  --white: #fff;
  --black: #000;
  --sub-white: #ffffff76;
  --sub-black: #00000076;
  --background2: #090909;
  --orangered: #ff4500;
  --sub-orangered: #ff440076;
  --border1: 1px solid #ff4500;
  --box-shadow1: 0 0 50px #08080864;
}
html {
  scroll-behavior: smooth;
}
body {
  display: block;
}
.section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: var(--border1);
  background-color: #000;
  color: var(--white);
}
/* <!-- HERO SECTION ===============================> --> */
.hero {
  /* background: ; */
  position: relative;
}
.hero .header {
  width: 100%;
  position: fixed;
  top: -300px;
  left: 0;
  display: block;
  z-index: 100;
}
.hero .header.scroll-header{
  top: 0;
}

/* Extreme top ==============================>  */
.hero .header .extreme-top {
  background: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: var(--border1);
}
.header.scroll-header .extreme-top{
  background: var(--background2);
}
.hero .header .extreme-top .logo {
  color: var(--white);
  margin-left: 20px;
}
.hero .header .extreme-top .logo b {
  color: var(--orangered);
}
.hero .header .extreme-top .top-right-end {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 5px;
  background:none;
  width:400px;
  height: 30px;
  position: relative;
}
.header.scroll-header .extreme-top .top-right-end{
  background: var(--background2);
}
.hero .header .extreme-top .top-right-end .btn 
{
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background:var(--orangered);
  width: 100px;
  height: 30px;
  position: absolute;
  right: 10px;
  top: 0;
  opacity: .5;
}
.hero .header .extreme-top .top-right-end .btn:hover
{
  opacity: 1;
}

.hero .header .extreme-top .top-right-end .edge {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.hero .header .extreme-top .top-right-end .edge p {
  opacity: 0.5;
}

/* Extreme top socials icons ==================>  */
.hero .header .extreme-top .top-right-end .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 400px;
  /* overflow: auto; */
}
.hero .header .extreme-top .top-right-end .social-links .social-link {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.4;
}
.hero .header .extreme-top .top-right-end .social-links .social-link:hover {
  background: var(--sub-black);
  opacity: 1;
  /* background: var(--sub-orangered); */
}
.hero .header .extreme-top .top-right-end .social-links .social-link.face {
  color: #1877f2;
}
.hero .header .extreme-top .top-right-end .social-links .social-link.yout {
  color: #ff0000;
}
.hero .header .extreme-top .top-right-end .social-links .social-link.twitt {
  color: #00acee;
}
.hero .header .extreme-top .top-right-end .social-links .social-link.linkin {
  color: #0a66c2;
}
i.chev-left,
i.chev-right
{
  display: none;
}
i.chev-left,.chev-right {
  color: var(--white);
}
i.chev-left:hover, i.chev-right:hover  {
  color: var(--orangered);
}

/*  top nav ==============================>  */

.hero .header .top-nav {
  background: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.header.scroll-header .top-nav{
  background: var(--background2);
}
/*  top nav logo =================>  */
.hero .header .top-nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 0 10px;
}
/*  top nav search icon =================>  */
.hero .header .top-nav .logo i {
  font-size: 25px;
  color: var(--white);
}
.hero .header .top-nav .logo i:hover {
  color: var(--orangered);
}

.hero .header .top-nav .logo .logo-image {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
/*  top nav navigation =================>  */

.hero .header .top-nav .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-right: 20px;
}

.hero .header .top-nav .nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0;
  background: none;
}
.header.scroll-header .top-nav .nav ul{
  background: var(--background2);
}
.hero .header .top-nav .nav ul .nav-list {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: none;
}
.header.scroll-header .top-nav .nav ul .nav-list{
  background: var(--background2);
}
.hero .header .top-nav .nav ul .nav-list a {
  color: var(--white);
  opacity: 0.5;
  font-size: 18px;
  text-transform: capitalize;
}
.hero .header .top-nav .nav ul .nav-list a:hover {
  opacity: 1;
}
/*  top nav ul dropdown links =================>  */

.hero .header .top-nav .nav ul .nav-list ul.drop-down {
  position: absolute;
  background: var(--background2);
  display: flex;
  flex-direction: column;
  width: fit-content;
  top: -100vh;
  left: -50%;
  padding: 20px 10px;
  z-index: -1;
  opacity: 0;
}
/* .header.scroll-header */
.hero .header .top-nav .nav ul .nav-list:hover ul.drop-down {
  top: 55px;
  opacity: 1;
}

.nav-list .hov,
.drop-down .nav-list .hov2 {
  position: relative;
}

.nav-list .hov::before,
.drop-down .nav-list .hov2::before {
  background: var(--orangered);
  content: "";
  position: absolute;
  bottom: -10px;
  width: 0;
  height: 1px;
  transition: 0.3s ease-in-out;
}
.nav-list:hover .hov::before,
.drop-down .nav-list:hover .hov2::before {
  width: 100%;
}
.nav-list .after {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
}
.nav-list .after::after {
  background: var(--white);
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
}
.nav-list .after::before {
  background: var(--white);
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  transition: 0.3s ease-in-out;
  transform: rotate(-90deg);
}
.nav-list:hover .after::before {
  transform: rotate(0deg);
}
.nav-list:hover .after::before,
.nav-list:hover .after::after {
  background: var(--orangered);
}

/*  top nav btns =================>  */
.hero .header .top-nav .nav .header-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.hero .header .top-nav .nav .header-btns .header-btn {
  border: 1px solid var(--white);
  color: var(--white);
  padding: 5px 20px;
  border-radius: 30px;
  background: none;
  opacity: 0.6;
}
.hero .header .top-nav .nav .header-btns .header-btn:hover {
  opacity: 1;
}
.hero .header .top-nav .nav .header-btns .header-btn.two {
  background: var(--orangered);
  border: none;
}
/* .hero .header .top-nav .nav .header-btns .header-btn.two:hover */
/* {
  background: none;
  border: 1px solid var(--white);

} */
/* <!-- SERVICES SECTION ===============================> --> */

/* <!-- PROJECTS SECTION ===============================> --> */

/* <!-- ABOUT US SECTION ===============================> --> */

/* <!-- CONTACT US SECTION ===============================> --> */

/* <!-- FAGS SECTION ===============================> --> */

/* <!-- BLOGS SECTION ===============================> --> */

/* <!-- GALLERY SECTION ===============================> --> */

/* <!-- FOOTER SECTION ===============================> --> */

/* <!-- RESPONSIVE SECTION START ===============================> --> */
@media screen and (max-width: 1121px) {
  .logo-content {
    display: none;
  }

  .hero .header .top-nav .nav ul {
    display: none;
  }
}

@media screen and (max-width: 525px) {
  .hero .header .extreme-top .top-right-end
  {
    width: 200px;
  }
  .hero .header .extreme-top .top-right-end .social-links {
    width: fit-content;
    position: absolute;
    z-index: 1;
    background: var(--background2);
    height: 40px;
    width: 100%;
    right: -100%;
    padding: 0 30px;
    opacity: 0;
  }
  /* .hero .header .extreme-top .top-right-end.active
  {
    margin: 0;
  } */
  .hero .header .extreme-top .top-right-end.active  .social-links{
    right: 0;
    opacity: 1;
  }
  .hero .header .extreme-top .top-right-end .social-links .social-link {
    opacity: 1;
  }

  i.chev-left,
  i.chev-right
  {
    display: flex;
  }
}

/* <!-- RESPONSIVE SECTION ENDS===============================> --> */
